/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#client-name {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s, font-weight 0.3s;
}

nav ul li a:hover {
    color: #00f;
    cursor: pointer;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#skills ul li img {
    width: 100px;
    height: 140px;
    margin-right: 10px;
}

.project {
    margin-bottom: 20px;
}

#recommendations ul {
    list-style: none;
    padding: 0;
}

#recommendation-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#recommendation-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#recommendation-form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#recommendation-form button:hover {
    background-color: #555;
}
